@charset "utf-8";
/* CSS Document */


div.print_container {
    margin: 0px auto;
    width: 230px;
    text-align: left;
    padding: 0 4px 0px 4px;
    font-size: 10px !important;
    position: relative;
}
div {
    display: block;
}
div.print_container {
    margin: 0px auto;
    width: 230px;
    text-align: left;
    padding: 0 4px 0px 4px;
    font-size: 10px !important;
    position: relative;
}
.logo {
    width: 100%;
    text-align: center;
}
div.print_container h1 {
    font-size: 14px !important;
    font-family: Arial !important;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}
small.tagline {
    text-align: center;
    font-style: italic;
    display: block;
}
p.address {
    padding: 0 0 5px 0;
    margin-top: 3px;
    text-align: center;
    line-height: 1.3;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
div.dotseparator {
    border-bottom: 1px solid #888;
    margin: 3px auto;
    clear: both;
}
div.print_container h2 {
    font-size: 10px;
    margin: 3px 0px 3px 0px;
    padding: 0;
    float: left;
}
p.orderDateTime {
    float: right;
    margin: 3px 0px 5px 0px;
}
p.invDate, p.orderDateTime {
    float: right;
    margin: 3px 0px 5px 0px;
}
section.cart-mini-items {
    clear: both;
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    padding: 1px 0px;
}
section.cart-mini-items > div:last-child, section.cart-mini-items > section.item:last-child > div:last-child {
    border-bottom: none;
}
section.cart-mini-items p {
    display: block;
    text-align: left;
}
section.cart-mini-items mark {
    background: transparent;
    width: 100%;
}
section.cart-mini-items > div > div, section.cart-mini-items > section.item > div > div {
    text-align: right;
}
section.cart-mini-items small {
    font-size: 10px;
    padding: 0px 10px;
}
section.cart-mini-items > div > div > span {
    min-width: 40px;
    display: inline-block;
}

section.cart-mini-items > div > div > i {
    min-width: 30px;
    overflow:hidden;
}

div.cartAmount {
    margin-top: 3px;
    text-align: right;
    padding-right: 1px;
}
table.rightAuto {
    margin: 0 0 0 auto;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
div.cartAmount table th {
    padding: 0 0 1px 0;
}
table.rightAuto tr td:nth-child(2) {
    padding: 0 3px;
    margin: 0 10px auto;
}
div.cartAmount td.currency {
    width: 20px;
    text-align: left;
}
div.section_content_right {
    float: right;
    text-align: right;
    font-weight: bold;
}
div.extra {
    clear: both;
    text-align: center;
}
div.print_container div.note ul {
    padding: 0 0 10px 0;
}
div.print_container div.note ul {
    padding: 0 0 10px 0;
}
div.note ul {
    margin: 3px 0 0 18px;
    padding: 0;
    list-style-type: disc;
}
div.note li {
    margin: 0;
    padding: 0;
    line-height: 16px;
}
footer {
    text-align: center;
    display: block;
    margin: 15px 0 0 0;
    font-weight: bold;
}
small.timestamp, small.creator {
    text-align: center;
    display: block;
    font-style: italic;
    padding: 2px 0 2px 0;
}
small.creator {
    padding: 2px 0 20px 0;
    font-style: normal;
    font-weight: bold;
}
